<ion-footer-bar>
	<ion-tabs class="tabs-icon-top" ng-click="selectWith(index)">

        <ion-tab title="消息" href="#/info"  icon-off=" ion-ios-bell-outline" icon-on="ion-ios-bell">
        </ion-tab>

        <ion-tab title="应用" href="#/apply"  icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad">
        </ion-tab>

        <ion-tab title="足迹" href="#/footmark" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" >
        </ion-tab>
        <ion-tab title="我"  href="#/user" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" >
        </ion-tab>

      </ion-tabs>
</ion-footer-bar>
<!--ng-click="jump('info')" ng-click="jump('apply')"  ng-click="jump('footmark')" ng-click="jump('user')"-->